<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lights! Camera! DATA!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">

  <!-- Word Cloud scripts -->
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"> <b>Lights! Camera! Data!</b>
            <img class="nav-camera" src="static/images/cam.svg" > 
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="movie_ring"> Movie Ring </a></li>
              <li><a href="word_cloud"> Genre Cloud </a></li>
              <li><a href="treemap"> Studio Tree </a></li>
              <li><a href="bubble"> Studio Bubble </a></li>
              <li><a href="map"> Foreign Gross </a></li>
            </ul>
        </div>
      </div>
    </nav>
    <div class="row">
    <div class="col-md-4">
      {% for movie in movies[0:72] %}

          <img src="{{ movie.Poster }}" class="img-thumbnail" alt="{{ movie.Title }}" title="{{ movie.Title }} | {{ movie.Plot }}">
        
      {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="quote">
      <h2>"Everything I learned I learned from movies"  <br>-Audrey Hepburn</h3>
      <br>
      <br>
    </div>
      <div class="about">
      <h4>Lights! Camera! Data! is a data visualization project based on 250 of the highest grossing movies of all time according to the amount they grossed over their opening weekend.</h4> 
        <br>
        <h4>Browse the website to learn more about how different variables in the movie industry interact with one another and try to spot some trends among the top 250 films.</h4>
        <br>
        <br>
        <h4>Visuals that should help along the way include:</h4>
        <li>A ring diagram that delves into the relationships between films, actors and the movie ratings systems </li>
        <li>A word cloud that takes a look into the role of genre when it comes to financial success and its frequency</li>
        <li>A packed bubble chart and a tree map that explore how total gross earnings is broken down on a studio level, and then further on a per movie basis</li>
        <li>A world map that investigates foreign gross box office</li>
        <br>
        <br>
        <h4>Data was sourced from Box Office Mojo and the OMDb API. It was then transformed using Python and loaded into MongoDB. The visualization is powered by Python Flask.</h4>
        <br>
        <h4>Visuals were made using d3.js, dex.js, leaflet.js, AnyChart.js, core.js (via AmCharts) and Google Chart.</h4>
        <br>
        <h4>Created by Amanda Green, Hanna Polowczyk, Manoel Burgos, and Sofiat Ishola.</h4>
    </div>
    </div>
    <div class="col-md-4">
        {% for movie in movies[72:144]  %}
          
            <img src="{{ movie.Poster }}" class="img-thumbnail" alt="{{ movie.Title }}" title="{{ movie.Title }} | {{ movie.Plot }}">
          
        {% endfor %}
      </div>
    </div>        

          
    <footer class="footer">
      <span class="bottom">Data Visualization Project</span>
    </footer>  
      
      
    </div>


  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
</body>

</html>
